:root {
  --size: 25;
  --color-one: #a881af;
  --color-two: #a881af;
  --color-three: #a881af;
  --color-four: #a881af;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-image:url("images/bg2.jpg") ;
  background-size: cover;
}
.image-upload>input {
  display: none;
}
label{
  color:#fff;
}
.box{
  background-color: #E1E3E1;
  margin-top: 10px;
  border-radius: 20px;
}
.filename p{
 
  height: 10px;
  padding: 5px 20px;

 
}
.img-box img{
  height: 219px;
  width: 309px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
 

}

.details{
  display: flex;
  justify-content: space-between;
  padding:0px 12px;
}
.filterSec{
  display: flex;
  justify-content: end;
  margin: 10px;
  
}
 .date{
  padding: 10px;
 }

 .size{
  padding: 10px;
 }

 .name{
  padding: 10px;
 }

 input,select{
  border: 1px solid grey;
  border-radius: 10px;
  padding: 0px 10px;
  width: 200px;
 }

 .upload{
  text-align: center;
  
 
 }
 .center{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  
  
 }
 .center button{
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
  background-color:#a881af ;
  color: #fff;
 }

 .downloadBtn{
  background-color: #a881af ;
  border: none;
  border-radius: 5px;
  padding: 1px 5px;
  color: white;
 }
@media only screen and (max-width: 660px) {
  .filterSec{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 10px;
   }
}



@media only screen and (max-width: 577px) and (min-width:300px) {
 .box{
   width: 50%;
   
   display: flex;
 margin: auto;
 margin-top: 20px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
}



/* Spinner code */

@property --nose {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: false;
}
@property --tail {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: false;
}
.loader {
  height: calc(var(--size) * 1vmin);
  width: calc(var(--size) * 1vmin);
  border-radius: 50%;
  mask: conic-gradient(
    from 45deg,
    transparent 0 var(--tail),
    #000 0 var(--nose),
    transparent 0 var(--nose)
  );
  border-style: solid;
  border-width: 5vmin;
  border-top-color: var(--color-one);
  border-right-color: var(--color-two);
  border-bottom-color: var(--color-three);
  border-left-color: var(--color-four);
  animation: load 2.5s both infinite ease-in-out, spin 3.25s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    --tail: 0%;
    --nose: 0%;
  }
  40%,
  60% {
    --nose: 100%;
    --tail: 0%;
  }
  100% {
    --nose: 100%;
    --tail: 100%;
  }
}